* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.Contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #71D363;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* Header */

header {
    width: 100%;
    height: 400px;
    background: #a8ff78;
    background: -webkit-linear-gradient(to right, hrgb(120 255 214 / 0,50), hrgb(168 255 120 / 0,50));
    background: linear-gradient(to right, hrgb(120 255 214 / 0,50), hrgb(168 255 120 / 0,50));
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: center;
    padding: 30px 50px 0 0;
}

    nav > a {
        color: #465244;
        font-weight: 300;
        text-decoration: none;
        margin-right: 10px;
    }

        nav > a:hover {
            text-decoration: underline;
        }

header .textos-header {
    display: flex;
    height: 130px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #66975E;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #66975E;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Vortex-Gif {
    display: flex;
    justify-content: space-evenly;
}

.sobre nosotros .Contenido-textos {
    width: 48%;
}

/*GALERIA*/

.Galeria {
    background: #a8ff78;
}

.Galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Imagen-port {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

    .Imagen-port > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


.Hover-Galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #c1ff9e;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .Hover-Galeria img {
        width: 100px;
    }

    .Hover-Galeria p {
        color: #465244;
    }

.Galeria-port:hover .Hover-Galeria {
    transform: scale(1);
}

/*FOOTER*/

footer {
    background: #808080;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.Contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.Contenido-foo{
    text-align: center;
}

.Contenido-foo h4{
    color: #ccc;
    border-bottom: 3px solid #7bf70c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.Contenido-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0 ;
    color: #ccc;
}